[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Telebot
Comment=
Exec=sudo nohup python /home/pi/telebot/telebot.py &
Terminal=false
Type=Application
